{% extends "editor/base.html" %}

{% block navbar %}
<div class="navbar-start">
    <a class="navbar-item" href="{{ url_for('editor.index') }}">
        <span><i class="icon ion-md-arrow-back nav-icon"></i> Mark-one</span>
    </a>
</div>                    
<div class="navbar-end">
    <a href="#" class="navbar-item">
        <span><i class="icon ion-md-settings nav-icon"></i></span>
    </a>
    <a href="#" class="navbar-item">
        <span><i class="icon ion-md-share nav-icon"></i></span>
    </a>
</div>
{% endblock %}

{% block body %}
<section class="ide">
    <div class="ide-plane">
        <div class="ide-code-wrapper" class="md-editor" name="code">
            <div id="code" name="code"></div>
        </div>
        <div class="ide-actions-wrapper" name="ide-actions">
            <div class="ide-actions-top">
                <button class="button btn-ide-action btn-compile" onclick="compileMarkdown()">
                    <span><i class="icon ion-md-play"></i></span>
                </button>
                <button class="button btn-ide-action btn-download-pdf" onclick="console.log('DOWNLOAD PDF')">
                    <span><i class="icon ion-md-download"></i></span>
                </button>
            </div>
            <div class="ide-actions-bottom"></div>
        </div>
        <div class="ide-preview-wrapper">
            <div class="ide-viewer-container">
                <div class="md-viewer markdown-body">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
    <div>
        <p class="copyright">Copyright © 2020 <a href="/">Mark-one</a>. All rights reserved.</p> 
    </div>
{% endblock %}

{% block include_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/codemirror/lib/codemirror.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/codemirror/theme/panda-syntax.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ide.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ide-queries.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/github/markdown.css') }}">
{% endblock %}

{% block include_js %}
<script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
<script src="{{ url_for('static', filename='vendor/codemirror/lib/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/codemirror/mode/markdown/markdown.js') }}"></script>
<script src="{{ url_for('static', filename='js/ide.js') }}"></script>
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
<script>
    window.addEventListener('load', () => {
        resize_body();
    });

    window.addEventListener('resize', () => {
        resize_body();
    });

    function resize_body() {
        const h = window.innerHeight;
        const w = window.innerWidth;
        document.documentElement.style.setProperty('--full-height', `${h}px`);
        document.documentElement.style.setProperty('--full-width', `${w}px`);
    }
</script>
{% endblock %}