{% extends "main/base.html" %}

{% block body %}

<section class="grid">
    <div class="box">
        <h2>Features</h2>
        <!-- <div class="divider"></div> -->
        <p>
            Marky is a simple online markdown editor.
        </p>
    </div>
    <div class="box">
        <h2>Looks</h2>
        <!-- <div class="divider"></div> -->
        <p>
            This is what Marky's editor looks like.
        </p>
    </div>
</section>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada tellus metus, eget aliquet neque accumsan eget. Nulla facilisi. Nullam imperdiet tellus et condimentum tristique. In hac habitasse platea dictumst. Mauris laoreet sem et varius ullamcorper. Quisque elementum libero in tortor dictum lobortis. Sed feugiat orci nec mollis maximus. Sed fringilla egestas nibh, et sagittis risus suscipit vulputate. Aenean condimentum sodales velit eget scelerisque. Quisque pulvinar consectetur vulputate. Nam ultricies eleifend interdum. Donec porttitor ullamcorper sollicitudin. Praesent interdum bibendum justo sed interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id arcu eu nunc varius pharetra. Aliquam ullamcorper, eros ut auctor euismod, neque mi pharetra velit, ut posuere lectus lacus eu leo.
    <br><br>
    Nunc sed mattis tortor, ac posuere orci. Suspendisse commodo augue nec mauris elementum auctor. Nullam faucibus ipsum in sagittis laoreet. Etiam ullamcorper leo vitae posuere suscipit. Donec eu eros a turpis volutpat lobortis. Proin iaculis pharetra nunc sed dapibus. Etiam scelerisque laoreet orci, interdum euismod nisi lobortis et. Morbi sed ex lorem. Vestibulum interdum varius risus convallis venenatis. Aliquam erat volutpat. Duis pulvinar justo non felis blandit rutrum. Nam erat magna, scelerisque quis dictum eget, iaculis nec nunc. Suspendisse a odio nec enim rhoncus varius ut fringilla magna. In quis lorem tempus tellus bibendum vestibulum ac in neque. Fusce tristique consequat quam, quis suscipit lacus vulputate sit amet.
    <br><br>
    Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam eu ante nec tellus accumsan dictum. Cras non purus porta nunc interdum feugiat eu at ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed lorem neque, fermentum a interdum nec, pellentesque ut leo. Aliquam nisi mauris, lacinia ac dolor eu, sollicitudin viverra mauris. Curabitur lacus ante, auctor non suscipit non, tristique a nisl. Quisque vestibulum, risus ut placerat tempus, ligula lectus fermentum enim, nec vulputate ex turpis eget neque. Quisque efficitur consectetur arcu, eu tincidunt lectus congue sed. In non augue vel libero lacinia iaculis a dignissim nisl.
    <br><br>
    Proin placerat tellus lorem, in porttitor nibh ultrices laoreet. Quisque euismod sed tellus ac placerat. Nulla ornare dolor sit amet orci mollis interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse consequat sed erat a commodo. Sed pulvinar turpis a scelerisque lacinia. Mauris ut feugiat mauris. Cras et leo sit amet quam suscipit tempus. Praesent ut dignissim purus. In porttitor euismod turpis, et luctus quam luctus ac. Quisque pulvinar nibh in metus varius cursus. Sed viverra vitae dui sit amet mattis. Curabitur egestas nibh elit, non suscipit massa rutrum non. Duis iaculis bibendum sem, in fermentum enim laoreet at. Fusce lorem nunc, ullamcorper vel felis in, aliquam fringilla mauris. Fusce tempus scelerisque dignissim.
    <br><br>
    Maecenas sed rutrum erat. Donec urna nibh, tempor vel tortor et, tristique commodo orci. Vivamus mauris felis, ornare at mauris varius, vulputate faucibus ligula. Integer sit amet libero suscipit, commodo justo tincidunt, tincidunt elit. Nunc sed porta tortor. Phasellus at accumsan felis, volutpat ultrices nisl. Nunc vitae ex iaculis, fringilla arcu ac, vehicula arcu. Nam bibendum, ipsum in mollis elementum, neque metus facilisis metus, non sodales magna eros vitae nibh. 
</p>
{% endblock %}